/* BASIC STYLES */
body {
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    line-height:2em;
    @include backgroundImg($body-background-img);
}

main {
    width: 940px;
    margin: 0 auto;
    padding:0 10px;
}

