$body-color: #FFF; 

$nav-a-color: #E65C43;
$nav-a-hover-color: #FFF;

$h1-color: #E65C43;
$h2-color: #FFF;
$h3-color: #666;

$headline-1-color: #FFF;
$content-h3-color: #666;

$footer-color: #FFF;

$headline-background-color: #F25C43;
$greybar-background-color: #F5F6F6;
$footer-background-color: #30353D;

$logo-img: url('../images/logo.png');
$body-background-img: url('../images/bg.gif');

$footer-social-media-img-one: url('../images/social-media.png');
$footer-social-media-img-two: url('../images/social-media.png');
$footer-social-media-img-three: url('../images/social-media.png');
$footer-social-media-img-four: url('../images/social-media.png');


